* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-us {
  .container-contact-us {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    margin-top: 40px;

    .title-contact {
      font-family: "Roboto", sans-serif;
      font-size: 36px;
      margin-bottom: 20px;
      text-align: center;
    }

    .text-contact {
      font-family: "Roboto", sans-serif;
      font-size: 23px;
      margin-bottom: 60px;
      text-align: center;
    }

    .container-cards {
      display: flex;
      align-items: center;
      padding: 0 60px;

      .card-contact {
        max-width: calc(100% / 3);
        margin: 0 30px;

        .line-top {
          min-height: 10px;
          border-radius: 30px 30px 0 0;
        }

        .line-1 {
          background-color: #44abcb;
        }

        .line-2 {
          background-color: #57c094;
        }

        .line-3 {
          background-color: #517bf1;
        }

        .into-card {
          box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          border-radius: 30px;
          padding: 60px;

          .title-card {
            font-family: "Roboto", sans-serif;
            margin-bottom: 20px;
            font-size: 22px;
          }

          .text-card {
            font-family: "Roboto", sans-serif;
            line-height: 2;
            font-size: 16px;
            color: #949494;
            min-height: 120px;
            margin-bottom: 55px;
          }

          .buttom-card {
            display: flex;
            justify-content: center;
            text-decoration: none;
            min-height: 40px;
            border-radius: 30px;

            p {
              font-family: "Roboto", sans-serif;
              display: flex;
              align-items: center;
            }
          }

          .buttom-submit {
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            color: #57c094;
            font-size: 14px;
          }

          .buttom-1 {
            background-color: transparent;
            border: 2px solid #44abcb;

            p {
              color: #44abcb;
            }
          }

          .buttom-2 {
            background-color: #57c094;
            margin-bottom: 20px;

            p {
              color: white;
            }
          }

          .buttom-3 {
            background-color: transparent;
            border: 2px solid #517bf1;

            p {
              color: #517bf1;
            }
          }
        }
      }

      .contact-2 {
        max-width: 30%;
        width: 100%;

        .card-2 {
          height: 180%;
          min-height: 450px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
